@import "./colors.module.css";

.navContainer {
  background-color: var(--button-idle);
  border-radius: 10px;
  padding: 15px;
  height: min-content;
}

li {
  padding: 10px 15px;
}

.myAccount {
  font-size: 20px;
  color: var(--not-member);
}

button {
  background: none;
  border: none;
  color: var(--text);
  font-size: 1em;
}

button:hover {
  color: var(--not-member);
  cursor: pointer;
}
