@import "./colors.module.css";

.pageNav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: auto;
  z-index: 99;
  height: 65px;
  box-shadow: 0 3px 7px var(--text-edit);
  background-color: var(--top-panel);
  color: var(--text);
  position: fixed;
  top: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 65%;
  padding: 0;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-self: start;
}

.compName {
  padding-left: 10px;
  font-weight: 900;
  font-size: 1.5em;
  color: var(--not-member);
}

.rightIcons {
  width: fit-content;
}

.rightIcons ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  padding: 0;
}

.rightIcons li {
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.rightIcons .account {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.rightIcons .notLogged {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.rightIcons .notLogged .signUp {
  background-color: var(--not-member);
  padding: 10px 30px;
  border-radius: 10px;
}

.rightIcons .notLogged .signUp:hover {
  background-color: var(--button-idle);
  color: var(--not-member);
  padding: 10px 30px;
  border-radius: 10px;
}

.pageNav button {
  background-color: var(--top-panel);
  border: none;
  color: var(--text);
  font-size: 1em;
}

.pageNav button:hover {
  color: var(--not-member);
  cursor: pointer;
}

.leftIcons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.leftIcons li {
  margin: 0 10px;
  width: max-content;
}

.middle {
  display: flex;
  flex-direction: row;
}
