.cardContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: var(--button-idle);
  margin: 10px 0px;
}

.card {
  border: 5px outset black;
  width: 790px;
  height: 320px;
  display: flex;
  flex-direction: row;
  border-radius: 5px;
}

.image {
  width: 50%;
  height: 100%;
  background-size: 100% 100%;
}

.info {
  width: 45%;
  margin-left: 5%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 0;
}

.data {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.brandAndName {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  font-weight: 800;
  font-size: 1.5em;
}

.price {
  padding-top: 20px;
  font-size: large;
  font-weight: 800;
  font-size: 20px;
}

.priceNumb {
  color: var(--not-member);
}

.button {
  padding: 10px 30px;
  background-color: var(--not-member);
  border-radius: 10px;
}
.button:hover {
  color: var(--not-member);
  background-color: var(--background);
}

.buttonContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 30px;
}
