.cardContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;

  margin: 10px 0px;
}

.card {
  border: 5px outset black;
  width: 310px;
  height: 500px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background-color: var(--button-idle);
}

.image {
  width: 100%;
  height: 50%;
  background-size: 100% 100%;
}

.info {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 20px;
}

.data {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.brandAndName {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  font-weight: 800;
  font-size: 1.5em;
}

.price {
  padding-top: 20px;
  font-size: large;
  font-weight: 800;
  font-size: 20px;
}

.priceNumb {
  color: var(--not-member);
}

.button {
  padding: 10px 30px;
  background-color: var(--not-member);
}
.button:hover {
  color: var(--not-member);
  background-color: var(--background);
}

.buttonContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 30px;
}
