@import "../components/colors.module.css";

.accountContainer {
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: center;
    margin-right: 200px;
    margin-top: 100px;
}

.mainElem {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40%;
    background-color: var(--top-panel);
    padding: 20px;
    border-radius: 10px;
}

.btnContainer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.btnSubmit {
    background-color: var(--not-member);
    padding: 10px 30px;
    border-radius: 10px;
    margin-top: 20px;
}

.reservation {
    background-color: var(--button-idle);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 50px;
}

.accountContainer .reservation .elem {
    margin: 15px 10px;
}